@import '../../constants/Colors.scss';

.Button {
  padding: 0.5em;
  font-size: 1.5rem;
  background: $background-opacity-1;
  border-radius: 0.5em;
  transition: 0.4s;
  &:hover {
    cursor: pointer;
    background-color: $color-4;
  }
}
