@import '../../constants/Breakpoints.scss';
@import '../../constants/Colors.scss';
.Results {
  min-height: 75vh;
  &__title {
    color: $color-1;
    padding: 0.25em 0;
    font-size: 1.3rem;
    @include for-tablet-portrait-up {
      font-size: 2rem;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 0.5em;
  }
}
