@import '../../constants/Breakpoints.scss';
@import '../../constants/Colors.scss';

.Summary {
  width: 70%;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  padding: 1em 0.25em;
  margin-bottom: 1em;

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.28);

  @include for-tablet-portrait-up {
    padding: 1em;
    flex-direction: row;
  }
  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.52);
  }
  &__items {
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__actions {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5em;

    @include for-tablet-portrait-up {
      flex-direction: row;
    }
  }
  &__cost {
    font-size: 1rem;
    font-weight: 700;
    margin: 0.5em 1.5em;
    @include for-tablet-portrait-up {
      font-size: 1.2rem;
      margin: 0 1.5em;
    }
  }
}
