@import '../../constants/Colors.scss';
@import '../../constants/Breakpoints.scss';

.Table {
  border-collapse: collapse;
  width: 95%;
  &__header {
    padding: 0.25rem;
    text-align: left;
    border-bottom: 1px solid $color-1;
  }
  &__data {
    padding: 0.25rem;
    text-align: left;
    &--cost {
      min-width: 90px;
    }
  }
}
