@import '../../constants/Colors.scss';

.Header {
  width: 100%;
  height: 15vh;
  background-image: url('./assets/mountains-compressed.jpg');
  background-position: 50% 28%;
  background-size: cover;
  color: $color-font-3;
  display: flex;
  justify-content: center;
  align-items: center;
}
